.common-layout {
  .lp-header,
  .lp-footer,
  .lp-main,
  .lp-aside {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .lp-header,
  .lp-footer {
    background-color: var(--el-color-primary-light-7);
    color: var(--el-text-color-primary);
    text-align: center;
  }

  .lp-aside {
    background-color: var(--el-color-primary-light-8);
    color: var(--el-text-color-primary);
    text-align: center;
  }

  .lp-main {
    background-color: var(--el-color-primary-light-9);
    color: var(--el-text-color-primary);
    text-align: center;

    height: 150px;
  }
}
